<body>
    <div class="grid justify-content-center divCard">
        <div class="col-10 md:col-4 sm:col-6 card">
            <p-card>
                <div class="grid sm:12">
                    <div class="col-12 text-center">
                        <h2>Back Login</h2>
                    </div>
                    <div class="col-12">
                        <label for="usuario">Usuario:</label>
                        <input pInputText type="text" class="col-12">
                    </div>
                    <div class="col-12">
                        <label for="senha">Senha:</label>
                        <input pInputText type="text" class="col-12">
                    </div>
                    <div class="col-12">
                        <button class="col-12 space2em" label="Entrar" pButton></button>
                    </div>
                    <div class="col-12 lg:col-6">
                        <button class="col-12 text-center m-2 px-5  p-button-link" label="Esqueceu a conta?"
                            pButton></button>
                    </div>
                    <div class="col-12 lg:col-6">
                        <button class="col-12 text-center  m-2 px-5 p-button-link" label="Cadastre-se?" pButton></button>
                    </div>
                </div>
            </p-card>
        </div>
    </div>    
</body>
